:root {
    /* global style vars */
    --font-family: Arial, sans-serif;
    --font-size-smallest: 10px;
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 20px;

    --spacing-smallest: 4px;
    --spacing-small: 5px;
    --spacing-medium: 10px;
    --spacing-large: 20px;

    --green-currency: rgba(54, 219, 54, 0.867);
    --red-currency: rgba(255, 0, 0, 0.867);

    --temp: rgb(97, 97, 97);

    /** light theme vars */

        /* cryptotable style */
        --lt-th-color: rgba(0, 0, 0, 0.419);
        --lt-td-color: rgba(0, 0, 0, 0.867);
        --lt-td-bg-color: rgb(240, 240, 240);
        --lt-td-bg-color-alternate: rgb(234, 234, 234);
        --lt-td-bg-color-hover: rgb(228, 228, 228);

        /* popup styles */
        --lt-popup-bg-color: rgba(90, 145, 255, 0.804);
        
        /* chart styles */
        --lt-chart-bg-color: rgb(240, 240, 240);

        /* footer styles */
        --lt-footer-bg-color: #f2f2f2;

        /* misc */
        --lt-text-color: rgba(0, 0, 0, 0.611);
        --lt-bg-color: #f2f2f2;

    /** black theme vars */
    
        /* cryptotable styles */
        --bt-th-color: rgba(255, 255, 255, 0.419);
        --bt-td-color: rgba(255, 255, 255, 0.867);
        --bt-td-bg-color: rgb(20, 20, 20);
        --bt-td-bg-color-alternate: rgb(25, 25, 25);
        --bt-td-bg-color-hover: rgb(30, 30, 30);

        /* popup styles */
        --bt-popup-bg-color: rgba(70, 70, 70, 0.804);

        /* chart styles */
        --bt-chart-bg-color: rgb(17, 17, 17);

        /* footer styles */
        --bg-footer-bg-color: #000;

        /* misc */
        --bt-text-color: rgba(255, 255, 255, 0.611);
        --bt-bg-color: #000;
}


/** Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
    color: var(--lt-text-color);
    background-color: var(--lt-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

body.dark-theme{
    color: var(--bt-text-color);
    background-color: var(--bt-bg-color);
}

/** Main styles */
main {
    display: grid;
    grid-template-areas:
        "left-container     middle-container";
    grid-template-columns: 1fr 2fr;
    padding: var(--spacing-small) var(--spacing-small) var(--spacing-large) var(--spacing-small);
    gap: var(--spacing-small);
}


/** Left-container styles */
.left-container {
    grid-area: left-container;
}


/** Middle-container styles */
.middle-container {
    grid-area: middle-container;
}


/** Sticky styles */
.sticky-container {
    position: sticky;
    top: var(--spacing-smallest);
}


/** Popup styles */
.popup {
    margin: var(--spacing-small) var(--spacing-small) 0 var(--spacing-small);
    border: 1px solid var(--lt-popup-bg-color);
    border-radius: 7px 7px 4px 4px;
}

.dark-theme .popup {
    border: 1px solid var(--bt-popup-bg-color);
}

.popup-panel {
    background-color: var(--lt-popup-bg-color);
    padding: var(--spacing-medium);
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.dark-theme .popup-panel {
    background-color: var(--bt-popup-bg-color);
}

/** Cryptotable styles */
.cryptotable-cell-name {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.cryptotable-cell-name > p {
    white-space: nowrap;
}

.cryptotable-cell-name > img {
    margin-right: var(--spacing-small);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    image-rendering: optimizeQuality;
    object-fit: cover;
}

.cryptotable-cell-name > span {
    margin-left: 2px;
    font-size: var(--font-size-smallest);
    color: gray;
}


/** default-table styles */
.default-table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: var(--font-size-medium);
    width: 100%;
    background-color: var(--lt-td-bg-color);
}

.dark-theme .default-table {
    background-color: var(--bt-td-bg-color);
}

.default-table th {
    color: var(--lt-th-color);
    font-weight: bold;
    padding: var(--spacing-medium);
    text-align: left;
}

.dark-theme .default-table th {
    color: var(--bt-th-color);
}

.default-table td {
    color: var(--lt-td-color);
    font-size: var(--font-size-small);
    text-overflow: ellipsis;
    padding: var(--spacing-small) 0 var(--spacing-small) 0;
    cursor: pointer;
}

.dark-theme .default-table td {
    color: var(--bt-td-color);
}

.default-table th:first-child,
.default-table td:first-child {
    color: var(--lt-th-color);
    text-align: center;
}

.dark-theme .default-table th:first-child,
.dark-theme .default-table td:first-child {
    color: var(--bt-th-color);
}

.default-table th:nth-child(n+3),
.default-table td:nth-child(n+3) {
    text-align: center;
}

.default-table tr:nth-child(even) {
    background-color: var(--lt-td-bg-color-alternate);
}

.dark-theme .default-table tr:nth-child(even) {
    background-color: var(--bt-td-bg-color-alternate);
}

.default-table > tbody > tr:hover {
    background-color: var(--lt-td-bg-color-hover);
}

.dark-theme .default-table > tbody > tr:hover {
    background-color: var(--bt-td-bg-color-hover);
}

.chart-container {
    width: 99%;
    height: 92vh;
    background-color: var(--lt-chart-bg-color);
}

.dark-theme .chart-container {
    background-color: var(--bt-chart-bg-color);
}

/* footer styles */
footer {
    border-top: var(--lt-popup-bg-color) 1px solid;
    background-color: var(--lt-footer-bg-color);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dark-theme footer {
    border-top: var(--bt-popup-bg-color) 1px solid;
    background-color: var(--bt-footer-bg-color);
}

#footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-names {
    margin-bottom: 30px;
}

#footer-names h1 {
    font-size: 32px;
    margin: 0;
    color:rgba(54, 219, 54, 0.867);
}

#footer-names h2 {
    font-size: 20px;
    color: #636363;
    margin: 0;
}

#theme-button {
    margin-left: auto;
}

#theme-button button {
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: var(--font-size-medium);
    cursor: pointer;
}

#theme-button img {
    width: inherit;
    height: inherit;
}

#footer-developers {
    margin-top: var(--spacing-large);
    color: #999;
}

/* mobile page */
@media screen and (max-width: 768px) {
    main {
        grid-template-areas:
            "middle-container"
            "left-container";
        grid-template-columns: 1fr;
    }

    .chart-container {
        height: 50vh;
    }
}